.delete_button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    margin-left: 1rem;
    background: linear-gradient(90deg, rgb(246, 246, 246) 0%, rgb(97, 210, 241) 100%);
    border-radius: 500px; 
   
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: center;
    padding: 5px; 

} 

.form-grid{
    display:inline-block;
    background-color: transparent;
    width: 50%;
    margin-top: 1rem;
    background-color:white;
    margin:1rem;
    margin-left: 10rem;
    box-shadow: 4px 4px 8px grey;
    border-radius: 10px; 
    padding: 20px;
    text-decoration: none;
    
}

td {
    border-bottom: 1px solid #ddd;
}

